<%= form_with(model: guest, local: true) do |form| %>
  <% if guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
      <% guest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :guest_name %>
  </div>

  <div class="field">
    <%= form.label :api_token %>
    <%= form.text_field :api_token, id: :guest_api_token %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :guest_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :guest_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :guest_state %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.number_field :postal_code, id: :guest_postal_code %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :guest_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
